   body {
        font-family: Arial, sans-serif;
        background: #f3f3f3;
        margin: 0;
        padding: 20px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .js-movies-list {
        list-style: none;
        padding: 0;
        margin: 0;

     
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 20px;
    }

    .js-movies-list li {
        background: white;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        transition: 0.3s;
        text-align: center;
    }

    .js-movies-list li:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 18px rgba(0,0,0,0.15);
    }

    .js-movies-list img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .js-movies-list h3 {
        font-size: 18px;
        margin: 10px 0 5px 0;
        color: #333;
    }

    .js-movies-list p {
        margin: 4px 0;
        color: black;
        font-size: 14px;
    }